@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1.2fr repeat(3, 2fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.header {
  grid-column: 2 / 5;
}

.main {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

/* ---------------------------------- SIDEBAR Styling ------------------------------------------------- */

.sidebar {
  background-color: dodgerblue;
  font-weight: 800;
  color: white;
}

#dashboard-icon {
  width: 40px;
}

.dashboard-text {
  font-size: 22px;
}

.s-icon {
  width: 30px;
}

#dashboard-icon,
.s-icon {
  filter: invert(1); /* To change SVG color from black to white */
}

.s-text {
  font-size: 18px;
}

.dashboard,
.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.initial-sidebar {
  margin-top: 15px;
  margin-bottom: 40px;
}

.secondary-sidebar {
  margin-bottom: 55px;
}

/* ---------------------------------- HEADER Styling ------------------------------------------------- */

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 50px;
  box-shadow: 0 8px 6px -10px black;
}

.top-header,
.bottom-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-header {
  margin-top: -30px;
}

.search {
  width: 60%;
  background-color: lightgray;
  border-radius: 15px;
  padding: 4px;
  margin-right: auto;
  border: none;
}

.h-icon {
  width: 30px;
}

.top-header > .account-icon {
  width: 42px;
}

.bottom-header > .account-icon {
  width: 58px;
}

.presentation {
  margin-right: auto;
  display: grid;
  font-weight: bold;
}

.presentation-salute {
  font-size: 14px;
}

.presentation-name {
  font-size: 18px;
}

button {
  padding: 7px 24px;
  border-radius: 15px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  border: none;
}

/* ---------------------------------- MAIN section Styling ------------------------------------------- */
 
.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-top: 10px;
  padding-left: 20px;
  background-color: lightgrey;
  gap: 15px;
}

.main-text {
  font-size: 18px;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
}

.card {
  background-color: white;
  border-left: 5px solid orange;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.card-heading {
  font-weight: bold;
}

.card-text {
  font-size: 13px;
}

.card-icons {
  align-self: flex-end;
}

.card-icon {
  width: 25px;
}

.a-card {
  background-color: white;
  border-radius: 5px;
  margin-top: 8px;
  padding: 10px;
  margin-right: 15px;
}

.a-heading {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.a-text {
  font-size: 13px;
  text-align: center;
}

.trending {
  margin-top: 10px;
  margin-bottom: 10px;
}

.t-card {
  background-color: white;
  border-radius: 5px;
  margin-right: 15px;
  padding: 10px;
}

.t-icon {
  width: 30px;
}

.t-user {
  font-size: 14px;
  font-weight: bold;
}

.t-desc {
  font-size: 13px;
}

.t-account {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 22px;
}